{% extends "base.html" %}

{% block main %}

<h1>Passes</h1>

<table class="table table-striped" style="margin:20px;">
    <thead>
        <tr>
            <th>ID</th>
             <th>URL</th>
            <th>Template</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>	
    {% for pt_pass in passes %}
                <tr>  
                	<td> <a href="/pass/{{ pt_pass.pass_id }}" class="btn btn-info">{{ pt_pass.pass_id }}</a> </td>
            		<td> <a starget="_blank" href="{{ pt_pass.url }}?api_key={{ api_key }}" class="btn">Download</a> </td>
            		<td> <a href="/template/{{ pt_pass.template_id }}" class="btn">{{ pt_pass.template_id }}</a> </td>
            		<td>{{ pt_pass.created|timesince }}</td>
                </tr>
     {% endfor %}
    </tbody>
</table>

{% endblock %}